* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jetbrains Mono", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #edede9;
    background-color: #023047;
    display: grid;
    place-items: center;
    height: 100vh;
}

.display {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

button {
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.selected-button {
    background-color: #006dc7;
}

.unselected-button {
    background-color: #41a6fa;
    &:hover {
        background-color: #006dc7;
    }
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1rem;
    button {
        padding: 0.5rem;
        width: 10vw;
        height: 4vh;
        border-radius: 0.5rem;
        border: none;
    }
}

.author {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    * {
        flex-grow: 0;
    }
}

.avatar {
    width: 100px;
    border-radius: 100%;
}

.hello-world {
    text-align: center;
    background-color: #0d1b2a;
    padding: 1rem;
    border-radius: 0.5rem;
    &::before {
        content: "print";
        color: #00b4d8;
    }
}

.about {
    border-radius: 0.5rem;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    width: 40vw;
}

section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.languages {
    display: flex;
    gap: 1rem;
    justify-content: center;
    place-items: center;
    li {
        border: 1px solid #ffffff;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}

section {
    margin: 10px;
    padding: 1rem;
    display: flex;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    div {
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: #0d1b2a;

        h2 {
            font-size: 1.25rem;
        }
    }
}

.social-media {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #edede9;
    }
    i {
        font-size: 1.5rem;
    }
}
